@import "../../main.scss";

#app {
  background-color: $color-lighter;
  text-align: center;
}

.logo {
  width: 200px;
  margin: 20px auto;
}

.v-sidebar-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white !important;
  background-color: rgba(
    $color: (
      #ffffff
    ),
    $alpha: 0.5
  ) !important;
}

.vsm--toggle-btn {
  background-color: transparent !important;
  box-shadow: none !important;
}

.v-sidebar-menu .vsm--link.vsm--link_level-1.vsm--link_exact-active {
  -webkit-box-shadow: 3px 0px 0px 0px
    rgba(
      $color: (
        #000000
      ),
      $alpha: 0.6
    )
    inset !important;
  box-shadow: 3px 0px 0px 0px
    rgba(
      $color: (
        #000000
      ),
      $alpha: 0.6
    )
    inset !important;
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1 .vsm--icon {
  background-color: rgba(
    $color: (
      #000000
    ),
    $alpha: 0.1
  );
}

.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_exact-active .vsm--icon,
.v-sidebar-menu.vsm_white-theme .vsm--link_level-1.vsm--link_active .vsm--icon {
  background-color: rgba(
    $color: (
      #000000
    ),
    $alpha: 0.6
  ) !important;
}

.v-sidebar-menu.vsm_collapsed .vsm--mobile-bg {
  background-color: $color-dark !important;
}

.side-bar-icon {
  padding: 6px !important;
}

.modal-content {
  border: none !important;
}

.modal-footer,
.modal-header {
  border: none !important;
  height: 0;
  padding: 0 !important;
}

.modal-body {
  text-align: center !important;
}

.login-button,
.signup-button {
  margin: auto;
  width: 89%;
}
