@import "../../main.scss";

#app {
  text-align: center;
}

.logo {
  width: 50px;
  margin: 10px auto;
}

.login-logo{
  margin: 40px auto 10px auto;
  width: 100px;
}

.logo-div{
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.side-bar{
  background: white;
  position: fixed;
  width: 90px;
  height: 100%;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding-top: 15px;
}

.side-bar-icon {
  margin-top: 27px;
  color: gray;
}

.side-bar-icon-div{
  height: 70px;
  cursor: pointer;
}

.activesidebar{
  background-color: $color-lightest;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-left: 3px solid $color-regular;
}

.activesidebar .side-bar-icon{
  color: $color-regular !important;
}

