@import "../../main.scss";

.custom-table-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.custom-table-container {
  min-height: 100vh;
  padding-bottom: 50px;
}

.custom-table-card {
  margin: auto;
  width: 80%;
  background-color: white !important;

  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: left;
}

.table th,
.table td {
  border-top: None !important;
}

.thead-dark th {
  background-color: $color-dark !important;
  border-color: $color-dark !important;
}

.table {
  margin-bottom: 0 !important;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $color-light !important;
}

.buttons-div {
  margin: 30px auto;
  width: 80%;
}

.filter-div {
  width: 80%;
  margin: 30px auto;
}

.form-group {
  margin-bottom: 0 !important;
}

.page-item.active .page-link {
  background-color: $color-regular;
  border-color: $color-regular;
}

.page-link {
  color: $color-dark;
}
