@import "../../main.scss";

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding: 0;
}

.col-form-label {
  padding-top: 8px;
}

.container {
  padding: 0 !important;
}

.custom-table-title {
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Raleway";
}

.custom-table-container {
  padding-bottom: 50px;
}

.custom-table-card {
  margin: auto;
  width: 80%;
  background-color: white !important;

  border-radius: 5px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  text-align: left;
}

.table th,
.table td {
  border-top: None !important;
}

.thead-dark th {
  background-color: $color-dark !important;
  border-color: $color-dark !important;
}

.table {
  margin-bottom: 0 !important;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $color-light !important;
}

.buttons-div {
  margin: 30px auto;
  width: 80%;
}

.filter-div {
  width: 80%;
  margin: 0px auto 10px;
}

.form-group {
  margin-bottom: 0 !important;
}

.page-item.active .page-link {
  background-color: $color-regular;
  border-color: $color-regular;
}

.page-link {
  color: $color-dark;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $color-dark;
  background-color: $color-dark;
}

.select-all {
  display: inline-flex;
  padding-top: 8px;
}

.select-all-div {
  width: 80%;
  margin: 0px auto 10px auto;
}

.filter-icon {
  display: inline-flex;
  margin-right: 10px;
}

.filter-field {
  display: inline-flex;
  width: 80%;
}

.filter-quant {
  display: inline-flex;
  width: 30%;
}

.true-icon {
  color: $color-ok;
}

.false-icon {
  color: $color-error;
}
