<div>
  <b-container class="login-div">
    <b-row>
      <b-col cols="12">
        <div class="modal-title">Entrar</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-form-input placeholder="email" v-model="login.email"></b-form-input>
        <div v-if="errors.login && errors.login.email" class="error">
          {{ errors.login.email[0] }}
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-form-input type="password" placeholder="Senha" v-model="login.password"></b-form-input>
        <div v-if="errors.login && errors.login.password" class="error">
          {{ errors.login.password[0] }}
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-button :disabled="progress.login" v-on:click="do_login()" class="login-button">
        <div v-if="!progress.login">Enviar</div>
        <div v-if="progress.login">
          <b-spinner small></b-spinner>
        </div>
      </b-button>
    </b-row>
  </b-container>
</div>
