<div>
  <b-container class="login-div">
    <b-row>
      <b-col cols="12">
        <div class="modal-title">Entrar</div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-form-input placeholder="Username" v-model="login.username"></b-form-input>
        <div v-if="errors.login && errors.login.username" class="error">
          {{ errors.login.username[0] }}
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-form-input type="password" placeholder="Senha" v-model="login.password"></b-form-input>
        <div v-if="errors.login && errors.login.password" class="error">
          {{ errors.login.password[0] }}
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-button v-on:click="do_login()" class="login-button">
        Enviar
      </b-button>
    </b-row>
  </b-container>
</div>
